{% extends 'adminpanel/admin_base.html' %}
{% block title %}
KidsPark | Add Product
{% endblock %}
{% block content %}
<div class="row m-3">
    <div class="col-12 text-center">
    
        <h2>Create a new product</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            {% for field in form %}
            <div class="row">
                <div class=" col-2"></div>
                <div class="col-2">{{ field.label_tag }}</div>
                <div class="col-4">{{ field }}</div>
                <div class="col-4">{{ field.errors }}</div>
              
               
               
            </div>
            {% endfor %}
            <div class="row mt-3 text-center" >
                <div class="col-4 "></div>
                <div class="col-4"> <input type="submit" value="ADD PRODUCT" class="btn btn-primary"/></div>
               
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
